.App {
  font-family: sans-serif;
  text-align: justify;
}

body {
  white-space: break-spaces;
  margin: 0 0 0 5%;
}

ul.list {
  list-style-type: none;
  line-height: 2;
  padding: 0;
  margin-top: 15px;
}

h2 {
  margin-bottom: 0;
}

span {
  font-weight: 400;
}
